name: Run
on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v4.3.1
      with:
        python-version: 3.10.6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run
      run: python main.py
      env:
        CALENDAR_ID: ${{ secrets.CALENDAR_ID }}
        CITY_API_BASE_URL: ${{ secrets.CITY_API_BASE_URL }}
        TOKEN: ${{ secrets.TOKEN }}
        OPEN_API_SECRET: ${{ secrets.OPEN_API_SECRET }}
